@import "tailwindcss";

/* Impor KaTeX tetap di sini */
@import 'katex/dist/katex.min.css';

/* Tambahan agar font lebih halus di Linux */
@layer base {
  body {
    @apply antialiased text-slate-900 bg-white;
  }
}

/* Custom utility untuk menyembunyikan scrollbar */
@utility scrollbar-hide {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}
